src/main/java/org/tomskgislab/vertex/xml/zem/territory/STD_BND.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 2 (http://www.altova.com) by FGUP FKC Zemlja (FGUP FKC Zemlja) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!--Подключение подсхемы Документ -->
	<xs:include schemaLocation="R03_Document.xsd"/>
	<!--Подключение подсхемы Физическое лицо -->
	<xs:include schemaLocation="R03_Person.xsd"/>
	<!--Подключение подсхемы Юр. лицо -->
	<xs:include schemaLocation="R03_Organization.xsd"/>
	<!--Подключение подсхемы Орган власти или Иностранное юридическое лицо-->
	<xs:include schemaLocation="R01_Governance.xsd"/>
	<xs:annotation>
		<xs:documentation>Описание пространственной составлящей</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="V01_STD_Spatial.xsd"/>
	<xs:include schemaLocation="dCurrentChanges.xsd"/>
	<xs:include schemaLocation="dAction.xsd"/>
	<xs:include schemaLocation="dRealty.xsd"/>
	<xs:annotation>
		<xs:documentation>25.05.2011г. Версия схемы 2</xs:documentation>
	</xs:annotation>
	<xs:annotation>
		<xs:documentation>25.05.2011г. Изменены общие подсхемы tAddress, tDocument, tPerson</xs:documentation>
	</xs:annotation>
	<xs:annotation>
		<xs:documentation>25.05.2011г. Обновлены классификаторы</xs:documentation>
	</xs:annotation>
	<xs:element name="BoundToGKN">
		<xs:annotation>
			<xs:documentation>Сведения об участках  границ, передаваемые в государственный кадастр недвижимости</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="EDocument">
					<xs:annotation>
						<xs:documentation>Заголовок</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="Version" type="xs:string" use="required" fixed="02">
							<xs:annotation>
								<xs:documentation>Версия схемы</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="Request_BoundToGKN">
					<xs:annotation>
						<xs:documentation>Обращение</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Title" type="tTitle">
								<xs:annotation>
									<xs:documentation>Титул документа</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Declarant">
								<xs:annotation>
									<xs:documentation>Заявитель</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:complexContent>
										<xs:extension base="tOwner">
											<xs:sequence>
												<xs:element name="Agent" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Доверенное лицо</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:complexContent>
															<xs:extension base="tPerson">
																<xs:sequence>
																	<xs:element name="Appointment" minOccurs="0">
																		<xs:annotation>
																			<xs:documentation>Должность</xs:documentation>
																		</xs:annotation>
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:maxLength value="255"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:element>
																</xs:sequence>
															</xs:extension>
														</xs:complexContent>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:extension>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="Bounds">
								<xs:annotation>
									<xs:documentation>Границы</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Bound" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Граница</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Documents">
														<xs:annotation>
															<xs:documentation>Документы-основания</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Document" maxOccurs="unbounded">
																	<xs:annotation>
																		<xs:documentation>Документ-основание</xs:documentation>
																	</xs:annotation>
																	<xs:complexType>
																		<xs:complexContent>
																			<xs:extension base="tDocument">
																				<xs:sequence>
																					<xs:element name="SourcePublication" minOccurs="0">
																						<xs:annotation>
																							<xs:documentation>Сведения об официальной публикации</xs:documentation>
																						</xs:annotation>
																						<xs:simpleType>
																							<xs:restriction base="xs:string">
																								<xs:maxLength value="255"/>
																							</xs:restriction>
																						</xs:simpleType>
																					</xs:element>
																					<xs:element name="Quantity" type="tQuantity" minOccurs="0">
																						<xs:annotation>
																							<xs:documentation>Количество представленных документов</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																				</xs:sequence>
																			</xs:extension>
																		</xs:complexContent>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="Boundaries" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Участки границы</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Boundary" maxOccurs="unbounded">
																	<xs:annotation>
																		<xs:documentation>Участок границы</xs:documentation>
																	</xs:annotation>
																	<xs:complexType>
																		<xs:complexContent>
																			<xs:extension base="tBoundary">
																				<xs:sequence>
																					<xs:element name="Text">
																						<xs:annotation>
																							<xs:documentation>Описание местоположения</xs:documentation>
																						</xs:annotation>
																						<xs:simpleType>
																							<xs:restriction base="xs:string">
																								<xs:maxLength value="5000"/>
																							</xs:restriction>
																						</xs:simpleType>
																					</xs:element>
																				</xs:sequence>
																			</xs:extension>
																		</xs:complexContent>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="Description" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Обозначение</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="255"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:choice>
														<xs:element name="StateBorderRF">
															<xs:annotation>
																<xs:documentation>Участок государственной границы Российской Федерации</xs:documentation>
															</xs:annotation>
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="Name">
																		<xs:annotation>
																			<xs:documentation>Наименование сопредельного иностранного государства</xs:documentation>
																		</xs:annotation>
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:maxLength value="255"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:element>
																	<xs:element name="OKSM" minOccurs="0">
																		<xs:annotation>
																			<xs:documentation>Код по ОКСМ </xs:documentation>
																		</xs:annotation>
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:maxLength value="3"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:element>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
														<xs:element name="SubjectsBoundary">
															<xs:annotation>
																<xs:documentation>Границы между субъектами Российской Федерации</xs:documentation>
															</xs:annotation>
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="Name1">
																		<xs:annotation>
																			<xs:documentation>Наименование смежной территории (1)</xs:documentation>
																		</xs:annotation>
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:maxLength value="255"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:element>
																	<xs:element name="OKATO1" minOccurs="0">
																		<xs:annotation>
																			<xs:documentation>ОКАТО (1)</xs:documentation>
																		</xs:annotation>
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:maxLength value="11"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:element>
																	<xs:element name="Name2">
																		<xs:annotation>
																			<xs:documentation>Наименование смежной территории (2)</xs:documentation>
																		</xs:annotation>
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:maxLength value="255"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:element>
																	<xs:element name="OKATO2" minOccurs="0">
																		<xs:annotation>
																			<xs:documentation>ОКАТО (2)</xs:documentation>
																		</xs:annotation>
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:maxLength value="11"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:element>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
														<xs:element name="MunicipalBoundary">
															<xs:annotation>
																<xs:documentation>Граница муниципального образования</xs:documentation>
															</xs:annotation>
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="Name">
																		<xs:annotation>
																			<xs:documentation>Наименование МО</xs:documentation>
																		</xs:annotation>
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:maxLength value="255"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:element>
																	<xs:element name="OKTMO" minOccurs="0">
																		<xs:annotation>
																			<xs:documentation>ОКТМО</xs:documentation>
																		</xs:annotation>
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:maxLength value="8"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:element>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
														<xs:element name="InhabitedLocalityBoundary">
															<xs:annotation>
																<xs:documentation>Граница населенного пункта</xs:documentation>
															</xs:annotation>
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="Name">
																		<xs:annotation>
																			<xs:documentation>Наименование населенного пункта</xs:documentation>
																		</xs:annotation>
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:maxLength value="255"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:element>
																	<xs:element name="OKATO" minOccurs="0">
																		<xs:annotation>
																			<xs:documentation>ОКАТО</xs:documentation>
																		</xs:annotation>
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:maxLength value="11"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:element>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
													</xs:choice>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Coord_Systems" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Системы координат</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="Coord_System" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="tBoundary">
		<xs:annotation>
			<xs:documentation>Граница</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="Entity_Spatial" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tTitle">
		<xs:sequence>
			<xs:element name="Visit_Purpose">
				<xs:annotation>
					<xs:documentation>Цель обращения (регистрационные действия)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="dAction">
						<xs:maxLength value="12"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Request_Text" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Особые отметки</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="5000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Current_Changes" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Список изменений в случае заявления об учете текущих изменений</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Cur_Change" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Список изменений в случае заявления об учете текущих изменений</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Cur_Change" type="dCurrentChanges">
										<xs:annotation>
											<xs:documentation>Коды по классификатору характеристик текущих изменений</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Cur_Change_Text" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Тестовое описание изменения</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="2000"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="Text_Old" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Запись, содержащаяся в ГКН</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="2000"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="Text_New" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Запись, содержащаяся в документе</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="2000"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tOwner">
		<xs:annotation>
			<xs:documentation>Владелец </xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="Person">
				<xs:annotation>
					<xs:documentation>Физическое лицо</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="tPerson"/>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="Organization">
				<xs:annotation>
					<xs:documentation>Юридическое лицо</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="tOrganization"/>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="Governance" type="tGovernance">
				<xs:annotation>
					<xs:documentation>Орган власти или Иностранное юридическое лицо</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="tQuantity">
		<xs:annotation>
			<xs:documentation>Количество листов</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Original">
			<xs:annotation>
				<xs:documentation>Кол-во документов </xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:totalDigits value="6"/>
					<xs:fractionDigits value="0"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Original_Sheet" use="required">
			<xs:annotation>
				<xs:documentation>Количество листов</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:totalDigits value="6"/>
					<xs:fractionDigits value="0"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
